body {
    margin: 0;
    font-family: 'Roboto',Arial,sans-serif;

    line-height: 1.6;
    color: rgb(0, 0, 0);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


/* Container */
.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

/* Header */
.header{
    width: 100%;
    background-color: #18105d;
}
.header__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top:20px;
    padding-bottom:20px;
}
.nav__link{
    color: white;
    text-decoration: none;
    margin-right: 20px;
}
.logo{
    width: 160px;
}
.image__icon{
    margin-right: 5px;
}
.navigation{
    text-align: left;
    width: 250px;
}
.nav__link_auth{
    text-align: right;
    width: 250px;
}
.profile{
    text-align: right;
    width: 250px;
   }
.name_profile{
    color: white;
    text-decoration: none;
}

/* Content */
/* Course */
.course {    
    display: flex;
    justify-content: center;
    width: 100%;
}
.course_inner{
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    margin-bottom: 80px;
}
.course_title{
    position: relative;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}
.arrows{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
#arrows_left{
    margin-left: 100px;
}
#arrows_right{
    margin-right: 100px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.course_image{
    border-radius: 10px;
    border: 1px solid #0400ff;
    margin-top: 20px;
    margin-bottom: 20px;
}
