
{% extends 'base.html' %}
{% load static %}  

    {% block head %}<link rel="stylesheet" href="{% static 'css/account.css'%}">{% endblock head %}
    {% block title %}Личный кабинт{% endblock title %}

{% block content %}
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <div class="navigation">
                    <a class="nav__link" href="{% url 'mobileLearning:listOfCourse'%}">
                        <img class="image__icon" src="{% static 'images/Course.svg'%}" alt="Курсы" width="15">
                        Курсы
                    </a>
                    <a class="nav__link" href="{% url 'mobileLearning:listOfLection' %}">
                        <img class="image__icon" src="{% static 'images/Lection.svg'%}" alt="Лекции" width="15">
                        Лекции
                    </a>
                </div>
                <a href="{% url 'mobileLearning:main' %}" ><img class="logo" src="{% static 'images/Logo.svg'%}" alt="Logo"></a>
                <div class="profile">
                    {% if imageUser and imageUser != 'None' %}
                        {% if imageUser.height > imageUser.width %}
                            <div class="image__icon"  style = "width: 50px; height: 50px; border-radius: 50%; background: url({{imageUser.url}}) center no-repeat;  background-size: auto 50px;"></div>
                        {% else %}
                            <div class="image__icon"  style = "width: 50px; height: 50px; border-radius: 50%; background: url({{imageUser.url}}) center no-repeat;  background-size: auto 50px;"></div>
                        {% endif %}
                    {% else %}
                            <img class="image__icon" src="{% static 'images/img_login.svg'%}" alt="login" width="20">
                    {% endif %}
                    <span class="name_profile" href="#">{{request.user}}</span>
                    <div class="profile-content">
                        <a href="{% url 'mobileLearning:account' %}">Личный кабинет</a>
                        <a href="{% url 'mobileLearning:loginOut' %}">Выйти</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="account">
        <form action = "{% url 'mobileLearning:account' %}" method = POST enctype="multipart/form-data">
        {% csrf_token %}
            <div class="content">
                <!-- <div class="img_cancel">
                    <a href="#">
                        <img src="{% static 'images/cancel.svg'%}" alt="cancel" width="15">
                    </a>
                </div> -->
                <div class="conteiner_inner">
                    <div class="inner_photo">
                        <div class="photo_profile">
                            {% if imageUser and imageUser != 'None' %}
                                {% if imageUser.height > imageUser.width %}
                                    <div style = "width: 200px; height: 200px; border-radius: 50%; background: url({{imageUser.url}}) center no-repeat;  background-size: auto 200px;"></div>
                                {% else %}
                                    <div style = "width: 200px; height: 200px; border-radius: 50%; background: url({{imageUser.url}}) center no-repeat;  background-size: auto 200px;"></div>
                                {%endif%}
                                {% comment %} <img src="{{imageUser.url}}" alt="Photo" width="260" style ="border-radius: 100px;"> {% endcomment %}
                            {% else %}
                                <img src="{% static 'images/photo.svg'%}" alt="Photo" width="260">
                            {% endif %}
                        </div>
                        <div class="btn_download">
                            <label for="myfile" class="chous" id="lbl_btn">
                                <div class="downImg">
                                    <img id="btn_download_img"src="{% static 'images/btn_camera.svg'%}" alt="Camera" width="20">
                                    Загрузить Фото
                                </div>
                            </label>
                            <input type="file" class="my" id="myfile" name="myfile" accept=".jpeg,.jpg,.png,.bmp" multiple="multiple" />
                            <script>
                                document.getElementById('myfile').addEventListener('change', wishFunction, false);
                                function wishFunction(evt) {
                                    var files = evt.target.files; 
                                    f= files[0];
                                    if (f==undefined) {
                                    }
                                    else
                                        document.getElementById("lbl_btn").innerHTML = "Фото загружено";
                                    }
                            </script>
                        </div>
                        <button class="btn_delete" name="btnDelete">
                            <p>УДАЛИТЬ</p>
                        </button>
                    </div>
                    <div class="inner__block">
                        <p>Фамилия: <img src="{% static 'images/star.svg'%}" alt="star" width="5"></p>
                        <input type="text" name="last_name" value="{{request.user.last_name}}">
                        <p>Имя: <img src="{% static 'images/star.svg'%}" alt="star" width="5"></p>
                        <input type="text" name="first_name" value="{{request.user.first_name}}">
                        <p>Отчество: <img src="{% static 'images/star.svg'%}" alt="star" width="5"></p>
                        <input type="text" name="second_name" value="{{request.user.profile.second_name}}">
                        <p>Дата рождения:</p>
                        <input type="date" name="birth_date" value="{{request.user.profile.birth_date|date:"Y-m-d"}}">
                    </div>
                    <div class="inner__block">
                        <p>Почта: <img src="{% static 'images/star.svg'%}" alt="star" width="5"></p>
                        <input type="email" name="email" value="{{request.user.email}}">
                        <p>Телефон:</p>
                        <input type="text" name="phone" value="{{request.user.profile.phone}}">
                        <p>Город:</p>
                        <input type="text" name="city" value="{{request.user.profile.city}}">
                        <p>Область:</p>
                        <input type="text" name="region"  value="{{request.user.profile.region}}">
                    </div>
                </div>
            </div>
            <div class="block__btn--save">
                <button class="btn_save" name="btnSave">
                    СОХРАНИТЬ
                </button>
            </div>
        </form>
    </div>
{% endblock content %}