
{% extends 'base.html' %}
{% load static %}  

    {% block head %}<link rel="stylesheet" href="{% static 'css/account.css'%}">{% endblock head %}
    {% block title %}Личный кабинет{% endblock title %}

{% block content %}
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <div class="navigation">
                    <a class="nav__link" href="{% url 'mobileLearning:listOfCourse'%}">
                        <img class="image__icon" src="{% static 'images/Course.svg'%}" alt="Курсы" width="15">
                        Курсы
                    </a>
                    <a class="nav__link" href="#">
                        <img class="image__icon" src="{% static 'images/Lection.svg'%}" alt="Лекции" width="15">
                        Лекции
                    </a>
                </div>
                <a href="{% url 'mobileLearning:main' %}" ><img class="logo" src="{% static 'images/Logo.svg'%}" alt="Logo"></a>
                <div class="profile">
                    <img class="image__icon" src="{% static 'images/img_login.svg'%}" alt="login" width="20">
                    <a class="name_profile" href="#">{{request.user}}</a>
                </div>
            </div>
        </div>
    </header>
    <div class="account">
        <div class="content">
            <div class="img_cancel">
                <a href="#"><img src="{% static 'images/cancel.svg'%}" alt="cancel" width="15"></a>
            </div>
            <div class="conteiner_inner">
                <div class="inner_photo">
                    <div class="photo_profile">
                        <img src="{% static 'images/photo.svg'%}" alt="Photo" width="260">
                    </div>
                    <button class="btn_download">
                        <img src="{% static 'images/btn_camera.svg'%}" alt="Camera" width="20">
                        <p id="btn_download_text">ЗАГРУЗИТЬ ФОТО</p>
                    </button>
                    <button class="btn_delete">
                        <p>УДАЛИТЬ</p>
                    </button>
                </div>
                <div class="inner__block">
                    <p>Фамилия: <img src="{% static 'images/star.svg'%}" alt="star" width="5"></p>
                    <input type="text">
                    <p>Имя: <img src="{% static 'images/star.svg'%}" alt="star" width="5"></p>
                    <input type="text">
                    <p>Отчество: <img src="{% static 'images/star.svg'%}" alt="star" width="5"></p>
                    <input type="text">
                    <p>Дата рождения:</p>
                    <input type="date">
    
                </div>
                <div class="inner__block">
                    <p>Почта: <img src="{% static 'images/star.svg'%}" alt="star" width="5"></p>
                    <input type="email">
                    <p>Телефон:</p>
                    <input type="text">
                    <p>Город:</p>
                    <input type="text">
                    <p>Область:</p>
                    <input type="text">
                </div>
            </div>
        </div>
        <div class="block__btn--save">
            <button class="btn_save">
                СОХРАНИТЬ
            </button>
        </div>
    </div>
{% endblock content %}