{% extends 'base.html' %}
{% load static %}  

    {% block head %}<link rel="stylesheet" href="{% static 'css/lessonTwo.css'%}">{% endblock head %}
    {% block title %}Урок 2{% endblock title %}

{% block content %}
    <!-- Заголовок   -->
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <div class="navigation">
                    <a class="nav__link" href="{% url 'mobileLearning:listOfCourse' %}">
                        <img class="image__icon" src="{% static 'images/Course.svg'%}" alt="Курсы" width="15">
                        Курсы
                    </a>
                    <a class="nav__link" href="#">
                        <img class="image__icon" src="{% static 'images/Lection.svg'%}" alt="Лекции" width="15">
                        Лекции
                    </a>
                </div>
                <a href="{% url 'mobileLearning:main' %}" ><img class="logo" src="{% static 'images/Logo.svg'%}" alt="Logo"></a>
                <div class="profile">
                    <img class="image__icon" src="{% static 'images/img_login.svg'%}" alt="login" width="20">
                    <a class="name_profile" href="{% url 'mobileLearning:account' %}">Ксения Митрофанова</a>
                </div>
                <!-- <div class="nav__link_auth">
                    <a class="nav__link" href="#" >
                        <img class="image__icon" src="{% static 'images/LogIn.svg'%}" width = "15" alt="">
                        Вход
                    </a>
                    <a class="nav__link" href="#" >
                        <img class="image__icon" src="{% static 'mages/RegistrationTwo.svg'%}" width="15" alt="">
                        Регистрация
                    </a>
                </div> -->
            </div>
        </div>
    </header>
    <div class="course">
        <div class="container">
            <div class="course_inner">
                <div class="course_title">
                    <p>
                        Создание проекта в Visual Studio
                    </p>
                </div>
                <p>Пошаговые инструкции для Windows: </p>    
                <p>1. Запустите Visual Studio 2019. Для создания нового проекта, необходимо выбрать Создание проекта: </p>
                <img class="course_image" src="{% static 'images/course/lesson_2/Screenshot_1.png'%}" width="100%"/>
                <p>2. В создание проекта выполните поиск по слову  "Xamarin" и выберите тип проекта Мобильное приложение (Xamarin.Forms) :</p>
                <img class="course_image" src="{% static 'images/course/lesson_2/Screenshot_2.png'%}" width="100%"/>
                <p>3. В настройке нового проекта введите имя проекта и его расположение. Нажмите кнопку Создать в правом нижнем углу : </p>
                <img class="course_image" src="{% static 'images/course/lesson_2/Screenshot_3.jpg'%}" width="100%"/>
                <p>4. Выберите тип проекта Пустой,  убедитесь, что выбраны параметры Android и iOS и нажмите кнопку Создать:</p>
                <img class="course_image" src="{% static 'images/course/lesson_2/Screenshot_4.png'%}" width="100%"/>
            </div>
            <div class="arrows">
                <a href="{% url 'mobileLearning:lessonOne' %}">
                    <img id="arrows_left" src="{% static 'images/course/arrow.png'%}" width="5%"/>
                </a>
                <a href="{% url 'mobileLearning:lessonThree' %}">
                    <img id="arrows_right" src="{% static 'images/course/arrow.png'%}" width="5%"/>
                </a>
            </div>
        </div>
    </div>
{% endblock content %}