{% extends 'base.html' %}
{% load static %}  

    {% block head %}<link rel="stylesheet" href="{% static 'css/lessonFour.css'%}">{% endblock head %}
    {% block title %}Урок 4{% endblock title %}

{% block content %}
    <!-- Заголовок   -->
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <div class="navigation">
                    <a class="nav__link" href="{% url 'mobileLearning:listOfCourse' %}">
                        <img class="image__icon" src="{% static 'images/Course.svg'%}" alt="Курсы" width="15">
                        Курсы
                    </a>
                    <a class="nav__link" href="#">
                        <img class="image__icon" src="{% static 'images/Lection.svg'%}" alt="Лекции" width="15">
                        Лекции
                    </a>
                </div>
                <a href="{% url 'mobileLearning:main' %}" ><img class="logo" src="{% static 'images/Logo.svg'%}" alt="Logo"></a>
                <div class="profile">
                    <img class="image__icon" src="{% static 'images/img_login.svg'%}" alt="login" width="20">
                    <a class="name_profile" href="{% url 'mobileLearning:account' %}">Ксения Митрофанова</a>
                </div>
                <!-- <div class="nav__link_auth">
                    <a class="nav__link" href="#" >
                        <img class="image__icon" src="{% static 'images/LogIn.svg'%}" width = "15" alt="">
                        Вход
                    </a>
                    <a class="nav__link" href="#" >
                        <img class="image__icon" src="{% static 'images/RegistrationTwo.svg'%}" width="15" alt="">
                        Регистрация
                    </a>
                </div> -->
            </div>
        </div>
    </header>
    <div class="course">
        <div class="container">
            <div class="course_inner">
                <div class="course_title">
                    <p>
                        Настройка приложения
                    </p>
                </div>   
                <p>При создании проекта в него
                    по умолчанию добавляется файл с графическим интерфейсов в XAML - MainPage.xaml и файл MainPage.xaml.cs, где
                    должна находится логика приложения, связанная с разметкой из файла XAML..</p>
                <img class="course_image" src="{% static 'images/course/lesson_4/Screenshot_1.png'%}" width="40%" alt=""/>
                <p>Файлы XAML позволяют нам определить интерфейс окна, но для создания логики приложения, например, для определения 
                    обработчиков событий элементов управления, нам все равно придется воспользоваться кодом C#</p>
                <p>Свойства элементов определяются в виде атрибутов, например, Text="Нажать!". События также определяются как атрибуты.
                    Например, с помощью атрибута Clicked устанавливается обработчик для события нажатия: Clicked="Button_Click".</p>

                <p class="course_code"> <code>&ltButton Text="Нажми меня" Clicked="Button_Clicked" /&gt</code></p>

                <p>С помощью атрибута x:Name элементу назначается имя. При компиляции приложения будет создаваться приватная переменная с 
                    этим именем. Через это имя в файле отделенного кода C# мы сможем ссылать на этот элемент, точнее на объект,  который представляет
                     в файле кода данный элемент. В частности, здесь кнопке назначено имя "button1". Соответственно в файле кода мы можем обратиться
                     к свойствам и методам кнопки через это имя.
                </p>
            </div>
            <div class="arrows">
                <a id="arrows_left" href="{% url 'mobileLearning:lessonThree' %}">
                    <img src="{% static 'images/course/arrow.png'%}" width="5%"/>
                </a>
                 <a id="arrows_right" href="{% url 'mobileLearning:lessonFive' %}">
                    <img src="{% static 'images/course/arrow.png'%}" width="5%"/>
                </a>
            </div>
        </div>
    </div>
{% endblock content %}