{% extends 'base.html' %}
{% load static %}

    {% block head %}<link rel="stylesheet" href="{% static 'css/registration.css'%}">{% endblock head %}
    {% block title %}Регистарция{% endblock title %}

{% block content %}
    <div class="conteiner">
        <div class="wrapper">
            <div class="wrapper__half_1">
                <div class="header__nav">
                    <a class="header__nav__link" href="{% url 'mobileLearning:login' %}">Вход</a>
                    <a class="header__nav__link" href="#">Регистрация</a>
                </div>
                <h1 id="wrapper_title">Регистрация</h1>
                <p id="wrapper_title_2">Заполните поля, чтобы продолжить</p>
                <br>
                    <form action = "{% url 'mobileLearning:registration' %}" method = POST>
                        {% csrf_token %}
                        {% for field in form %}

                         {{field}}
                         <br>

                        {% endfor %}
                        <button class="btn_regist">Зарегистрироваться</button>
                    </form>
            </div>
            <div class="wrapper__half_2">
                <img id="img_regist" src="{% static 'images/Android && IOS.png'%}" alt="Phone">
            </div>
        </div>
    </div>
{% endblock content %}