
{% extends 'base.html' %}
{% load static %}  

    {% block head %}<link rel="stylesheet" href="{% static 'css/lections/lectionStart/lectionCSharp.css'%}">{% endblock head %}
    {% block title %}Основы С#{% endblock title %}

{% block content %}
    <!-- Заголовок   -->
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <div class="navigation">
                    <a class="nav__link" href="{% url 'mobileLearning:listOfCourse' %}">
                        <img class="image__icon" src="{% static 'images/Course.svg'%}" alt="Курсы" width="15">
                        Курсы
                    </a>
                    <a class="nav__link" href="{% url 'mobileLearning:listOfLection' %}">
                        <img class="image__icon" src="{% static 'images/Lection.svg'%}" alt="Лекции" width="15">
                        Лекции
                    </a>
                </div>
                <a href="{% url 'mobileLearning:main' %}" ><img class="logo" src="{% static 'images/Logo.svg'%}" alt="Logo"></a>
                <div class="profile">
                    <img class="image__icon" src="{% static 'images/img_login.svg'%}" alt="login" width="20">
                    <span class="name_profile" href="#">{{request.user}}</span>
                    <div class="profile-content">
                        <a href="{% url 'mobileLearning:account' %}">Личный кабинет</a>
                        <a href="{% url 'mobileLearning:loginOut' %}">Выйти</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="course">
        <div class="container">
            <div class="course_inner">
                <div class="course_title">
                    <p>
                        Основы С#
                    </p>
                </div>
                <h3>История возникновения</h3>
                <p>Язык C# («си-шарп») ― объектно-ориентированный язык программирования (ООП), появился на свет в июне 2000 году в результате кропотливой работы большой группы разработчиков корпорации Microsoft («майкрософт»), возглавляемой Андерсом Хейлсбергом (Anders Hejlsberg).</p> 
                <p>С# и платформа .NET являлись той самой отправной точкой. Если говорить упрощённо, то .NET представлял собой новую платформу, новый набор API (Application Programming Interfaces ―интерфейс программирования приложений) для программирования под Windows, а С# ― её новый язык, созданный с нуля, для работы с этой платформой.</p>    
                <p>Язык С# непосредственно связан с С («Си»),С++(«си-плюс-плюс») иJava («джава» или «ява»). И это не случайно. Ведь это три самых широко распространенных и признанных во всем мире языка программирования.</p>    
                <p>Предком С# во втором поколении является С, от которого он унаследовал синтаксис, многие ключевые слова и операторы. Кроме того, С# построен на усовершенствованной объектной модели, определенной в С++. Если вы знаете С или С++, то будете чувствовать себя уютно и с языком С#.</p>    

                <img class="course_image" src="{% static 'images/lection/c#/1.png'%}" width="70%"/>
                <p><b>.NET Framework («дот-нэт фрейм-ворк»)</b> — программная платформа, выпущенная корпорацией Microsoft в 2002 году. Основой платформы является исполняющая среда <b>CLR</b> (Common Language Runtime ― общеязыковая исполняющая среда), способная выполнять как обычные программы, так и серверные веб-приложения. NET Framework поддерживает создание программ, написанных на разных языках программирования.</p>
                <p>Название «Си-шарп» (До-диез) происходит от музыкальной нотации, где знак диез, прибавляемый к основному обозначению ноты, означает повышение соответствующего этой ноте звука на полутон. Это аналогично названию языка C++, где «++» обозначает, что переменная должна быть увеличена на 1.</p>
                <p>Вследствие технических ограничений на отображение (стандартные шрифты, браузеры и т. д.) и того обстоятельства, что знак диез (♯)не представлен на стандартной клавиатуре, знак номера # был выбран для представления знака диез при записи имени языка программирования.</p>
                <p>C# является объектно-ориентированным. Объектно-ориентированный подход позволяет решить задачи по построению крупных, но в тоже время гибких, масштабируемых и расширяемых приложений. C# в настоящий момент активно развивается, и с каждой новой версией появляется все больше интересных функциональностей.</p>
                <h3>Создание и запуск первого проекта</h3>
                <p>В Windows запускаем Microsoft Visual Studio 2019 из меню Пуск и выбираем “Создание проекта”.</p>
                <img class="course_image" src="{% static 'images/lection/c#/2.png'%}" width="70%"/>
                <p>Выберете шаблон “Консольное приложение” и нажмите “Далее”</p>
                <img class="course_image" src="{% static 'images/lection/c#/3.png'%}" width="70%"/>
                <p>Укажите имя проекта, например “MyFirstProject” и место где он будет сохранен.</p>
                <img class="course_image" src="{% static 'images/lection/c#/4.png'%}" width="70%"/>
                <p>В результате будет открыто окно Visual Studio с созданным проектом. </p>
                <img class="course_image" src="{% static 'images/lection/c#/5.png'%}" width="70%"/>
                <p>Проект в Visual Studio представляет собой набор файлов, их структура представлена в окне “Обозреватель решения”. Основной файл, который нас сейчас интересует это Program.cs. </p>
                <div class="course_code" style=" margin-left: 30px;">
                    // Пространство имен, с классом Program
                    <br>
                    namespace MyFirstProject 
                    <br>
                    {
                    <br>   
                    // Объявление класса Program
                    <br>
                    <div style=" margin-left: 30px;">
                        class Program
                        <br>
                        {
                        // Точка входа. Метод, который будет запущен первым при старте приложения
                        <br>
                        <div style=" margin-left: 30px;">
                            static void Main(string[] args)
                            <br>
                            {
                            <br>
                            <div style=" margin-left: 30px;">
                                // Вывод текста "Hello World!" в консоль
                                <br>
                                Console.WriteLine("Hello World!");
                                <br> 
                            </div>
                            }
                        </div>
                        <br>
                        }
                    </div>
                    <br>
                    }
                </div>
                <p>Запустим наше приложение и посмотрим, что произойдет.
                    Для этого можно использовать несколько способов:</p>
                <p>
                    <ol>
                        <li>На панели вверху нажать кнопку с изображением зеленого треугольника.  Название у кнопки будет такое же как у вашего “решения”.</li>
                        <li>Нажать сочетание клавиш Ctrl + F5, запустится “решение” без отладки, либо F5 для режима отладки.</li>
                        <li>Через панель меню: Отладка -> “Запуск без отладки”</li>
                    </ol>
                </p>
                <p>Запустите приложение любым вышеописанным способом, в результате появится консоль, в которой будет выведено сообщение “Hello World!“.</p>
                <img class="course_image" src="{% static 'images/lection/c#/6.png'%}" width="70%"/>
                <hr>
                <p>Источник: <a href="https://studfile.net/preview/3277949/">https://studfile.net/preview/3277949/</a></p>
            </div>
        </div>
    </div>
{% endblock content %}