body {
    margin: 0;
    font-family: 'Roboto',Arial,sans-serif;

    line-height: 1.6;
    color: rgb(0, 0, 0);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


/* Container */
.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

/* Header */
.header{
    width: 100%;
    background-color: #18105d;
}
.header__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top:20px;
    padding-bottom:20px;
}
.nav__link{
    color: white;
    text-decoration: none;
    margin-right: 20px;
}
.logo{
    width: 160px;
}
.image__icon{
    margin-right: 5px;
}
.navigation{
    text-align: left;
    width: 300px;
}
.nav__link_auth{
    text-align: right;
    width: 300px;
}
.profile{
    text-align: right;
    width: 300px;
   }
.name_profile{
    color: white;
    text-decoration: none;
}

/* Courses */
.listCourses{    
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    max-width: 1400px;
}
.listCourses_inner{
    width: 100%;

    margin: 0 auto;
    padding-top: 40px;
}
#image_search{
margin-left: 5px;
}
input{
    outline: none;
    border: none;
    padding: 0;
    background: none;
}
.listCourses_inner_search{
    background: #ecedf4;
    width: 20%;
    border-radius: 5px;
}
.listCourses_inner_block{
    display: flex;
}
.lineForSearch{
    margin-top: 20px;
    margin-bottom: 40px;
    border-bottom: 2px solid black;
}
.listCourses_inner_nav{
    width: 20%;
    justify-content: left;
}
.navAll{
    margin: 0;
    display: inline-block;
}
.listCourses_inner_element:hover{
    color: #ffffff;
    background: #3c3be8;
}
.listCourses_inner_element{
    padding: 5px;
    background: white;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.titleLevel{
    font-weight: 600;
}
.typeLevel{
    padding-top: 10px;
}
.listCourses_inner_content{
    margin-left: 50px;
    width: 80%;
}
.listCourses_inner_content_title{
    display: flex;
    justify-content: space-between;
}
.course__style{
    font-weight: 800;
    font-size: 18px;
}
.list__style{
    font-weight: 400;
    font-size: 18px;
}
.listCourses_inner_content_block{
    width: 100%;
    border-radius: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.block_content{
    width: 30%;
    background: #f7f7f5;
    border-radius: 20px;
}
.block_content_title{
    width: 60%;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    font-size: 16px;
    display: inline-block;
}
.block_content_image{
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
}
.block_content_time{
    padding-left: 30px;
    padding-bottom: 20px;
    font-size: 12px;
}

/* Footer */
.footer{
    width: 100%;
    background: #18105d;
    margin-top: 80px;
}
.footer_inner{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
}
.footer_left{
    width: 60%;
}
.footer_left_logo{
    font-size: 18px;
    display: flex;
    justify-content: left;
    padding-top: 10px;
    padding-bottom: 10px;

}
.footer_left_social{
    padding-top: 10px;
}
.footer_left_social_img{
    padding: 10px;
}
.footer_right{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    margin: auto 0;
    image-rendering: auto;
    width: 50%;
    text-align: left;
}
.footer_right_course_header{
    padding-bottom:10px ;
    font-size: 18px ;
    font-weight: 200;
}
.footer_right_lection_header{
    padding-bottom:10px ;
    font-size: 18px ;
    font-weight: 200;
}
.footer_right_course_descr{
    color:#b3b3b3;
}
.footer_right_lection_descr{
    color:#b3b3b3;
}