
{% extends 'base.html' %}
{% load static %}  
    {% block head %}<link rel="stylesheet" href="{% static 'css/courses/listOfCourse.css'%}">{% endblock head %}
    {% block title %}Список курсов{% endblock title %}

{% block content %}

<!-- Заголовок   -->
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <div class="navigation">
                    <a class="nav__link" href="#">
                        <img class="image__icon" src="{% static 'images/Course.svg'%}" alt="Курсы" width="15">
                        Курсы
                    </a>
                    <a class="nav__link" href="{% url 'mobileLearning:listOfLection' %}">
                        <img class="image__icon" src="{% static 'images/Lection.svg'%}" alt="Лекции" width="15">
                        Лекции
                    </a>
                </div>
               <a href="{% url 'mobileLearning:main' %}" ><img class="logo" src="{% static 'images/Logo.svg'%}" alt="Logo"></a>
               {% if request.user.is_authenticated %}
                    <div class="profile">
                        <img class="image__icon" src="{% static 'images/img_login.svg'%}" alt="login" width="20">
                        <span class="name_profile" href="{% url 'mobileLearning:account' %}">{{request.user}}</span>
                        <div class="profile-content">
                            <a href="{% url 'mobileLearning:account' %}">Личный кабинет</a>
                            <a href="{% url 'mobileLearning:loginOut' %}">Выйти</a>
                        </div>
                    </div>
                {% else %}
                    <div class="nav__link_auth">
                        <a class="nav__link" href="{% url 'mobileLearning:login' %}" >
                            <img class="image__icon" src="{% static 'images/Login.svg'%}" width = "15" alt="">
                            Вход
                        </a>
                        <a class="nav__link" href="#" >
                            <img class="image__icon" src="{% static 'images/RegistrationTwo.svg'%}" width="15" alt="">
                            Регистрация
                        </a>
                    </div>
                {%endif%}
            </div>
        </div>
    </header>

    <!-- Главная -->
    <div class="listCourses">
        <div class="container">
            <div class="listCourses_inner">
                <div class="listCourses_inner_search">
                    <input id="image_search" type="image" src="{% static 'images/Search.svg'%}" width="10"/>
                    <input id="input_text" type="search" placeholder="Поиск"/>
                </div>
                <div class="lineForSearch"></div>
                <div class="listCourses_inner_block">
                    <div class="listCourses_inner_nav">
                        <div class="listCourses_inner_element">
                            <p class="navAll">Все направления</p>
                        </div>
                        <div class="listCourses_inner_element">
                            <p class="navAll">Android</p>
                        </div>
                        <div class="listCourses_inner_element">
                            <p class="navAll">IOS</p>
                        </div>
                        <div class="lineForSearch"></div>
                        <div class="titleLevel">
                            <p>Уровень сложности</p>
                        </div>
                        <div class="typeLevel">
                            <input type="radio">
                            <span>Любой</span>
                        </div>
                        <div class="typeLevel">
                            <input type="radio">
                            <span>Для новичков</span>
                        </div>
                        <div class="typeLevel">
                            <input type="radio">
                            <span>Для специалистов</span>
                        </div>
                    </div>
                    <div class="listCourses_inner_content">
                        <div class="listCourses_inner_content_title">
                            <div class="course__style">Курсы</div>
                            <div class="list__style">6 курсов</div>
                        </div>
                        <div class="listCourses_inner_content_block">
                            <div class="block_content">
                                {% if request.user.is_authenticated %}
                                    <a href="{% url 'mobileLearning:lessonOne' %}">
                                        <div class="block_content_title">
                                            Старт в Android: создай первое своё приложение
                                        </div>
                                        <div class="block_content_image">
                                            <img src="{% static 'images/course/android_start.png'%}" height="80px"/>
                                        </div>
                                        <div class="block_content_bot">
                                            <div class="block_content_time">
                                                1 день
                                            </div>
                                            <div class="block_content_star">
                                                <img class="star" src="{% static 'images/course/testing/starfill.png'%}" alt="" width="30">
                                                <img class="star" src="{% static 'images/course/testing/starfill.png'%}" alt="" width="30">
                                                <img class="star" src="{% static 'images/course/testing/starfill.png'%}" alt="" width="30">
                                                <img class="star" src="{% static 'images/course/testing/starfill.png'%}" alt="" width="30">
                                                <img class="star" src="{% static 'images/course/testing/starempty.png'%}" alt="" width="30">
                                            </div>
                                        </div>
                                    </a>
                                {% else %}
                                    <a href="{% url 'mobileLearning:login' %}">
                                        <div class="block_content_title">
                                            Старт в Android: создай первое своё приложение
                                        </div>
                                        <div class="block_content_image">
                                            <img src="{% static 'images/lk_user.svg'%}" height="80px"/>
                                        </div>
                                        <div class="block_content_time">
                                            1 день  
                                        </div>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}