body {
    margin: 0;
    font-family: 'Roboto',Arial,sans-serif;

    line-height: 1.6;
    color: rgb(0, 0, 0);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


/* Container */
.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;

}

/* Header */
.header{
    width: 100%;
    background-color: #18105d;
}
.header__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top:20px;
    padding-bottom:20px;
}
.nav__link{
    color: white;
    text-decoration: none;
    margin-right: 20px;
}
.logo{
    width: 160px;
}
.image__icon{
    margin-right: 5px;
}
.profile{
    margin-right: 20px;
}
.name_profile{
    color: white;
    text-decoration: none;
}

/* Course */
.course {    
    display: flex;
    justify-content: center;
    width: 100%;
}
.course_inner{
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
}
.course_title{
    position: relative;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}
.arrows{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
#arrows_left{
    margin-left: 100px;
}
#arrows_right{
    margin-right: 100px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.course_image{
    display: block;
    border-radius: 10px;
    margin: 20px auto;

}
.block__image{ 
    display: flex; 
}
.course_code{
    display: block;
    margin:30px auto;
    padding: 15px;

    width: 90%;
    background: #f7f7f5;
    text-align: left;
    border-radius: 10px;
}
