body {
    margin: 0;
    font-family: 'Roboto',Arial,sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: #161d30;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
.conteiner {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#251b71,#10064e);
    background-size: cover;
}

/* Header */
.header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header__inner{
    margin-top: 20px;
}
.nav__link{
    color: white;
    text-decoration: none;
    margin-right: 20px;
}
.header__logo{
    text-align: center;
}
.logo{
    width: 160px;
}
.image__icon{
    margin-right: 5px;
}
.navigation{
    text-align: left;
    width: 300px;
}
.nav__link_auth{
    text-align: right;
    width: 300px;
}
.profile{
    text-align: right;
    width: 300px;
   }
.name_profile{
    color: white;
    text-decoration: none;
}

/*Content*/
.wrapper{ 
    width: 70%;
    background: linear-gradient(to right,#453b83,#33277a);
    height: 75%;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0px 4px 22px 0px #000000;
}
.wrapper__half_1{
    width: 40%;
}
.header__nav{
    margin-left:70px;
    
}
.header__nav__link{
    margin-right: 20px;
    display: inline-block;
    color:#b1afec;
    margin-top: 30px;
    font-size: 15px;
    text-decoration: none;
    border-bottom: 3px solid transparent;
}
.header__nav__link:hover,
.header__nav__link:active{
    color:#fff;
    border-bottom: 3px solid #33277d;
}
#wrapper_title{
    color: #fff;
    margin: 125px 0 0 70px;
    font-size: 45px;
    font-weight: 500;
    line-height: 1;
}
#wrapper_title_2{
    color: #fff;
    margin: 20px 0 0 70px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
}
.wrapper__half_2{
    width: 60%;
    text-align: center;
}
#img_login{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 25px;	
}
.input__block{
    width: 280px;
    height: 50px;
    margin-left: 70px;
    margin-bottom: 20px;
    padding-left: 10px;

    border-radius: 5px;
    background-color:  #b1afec;
    border: 1px solid #424669;
    color: white;
    transition: .5s linear;
}
.input__block:focus{
    outline: none;
    box-shadow: inset 0 2px 10px 1px rgba(0,0,0,.3), inset 0 0 0 60px rgba(0,0,0,.3), 0 1px rgba(255,255,255,.08);
    box-shadow: -3px 0px 0px 0px #33277d;
}
.btn_login{
    width: 200px;
    height: 60px;
    margin-top: 20px;
    margin-left: 70px;
    border-radius: 10px;
    background: linear-gradient(#6e61cd,#35297f);
    border: #1f5bff;
    font-size: 18px;
    color: white;
    /* box-shadow: 0 5px 3px #2d4b86; */
}
.btn_login:hover{
    box-shadow: inset 0 2px 10px 1px rgba(0,0,0,.3), inset 0 0 0 60px rgba(0,0,0,.3), 0 1px rgba(255,255,255,.08);
}